.header {
    align-items: center;
    display: flex;
    justify-content:space-between;
    position: fixed;
    z-index:1000;
    background-color: black;
    width:100%;
    top:0;
    padding:1rem
}

.headerLeft, .headerRight {
    display: flex;
    align-items: center;
    gap:20px;

}
.header a{
    text-align: center;
}

.header a > span{
    /* margin: 0 30px; */
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

@media screen and (max-width:768px) {
   .header a > span{
        font-size: 0.8rem;
        text-align: center;
    }
}

a > span:hover {
    color: red;
}

.header__icon {
    width: 80px;
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}

